<mat-card class="mb-3">
  <p>Show overall balance in currency:</p>
  <mat-button-toggle-group
    class="mb-3"
    [(ngModel)]="showBalanceInCurrency"
    (click)="changeCurrency()"
  >
    <mat-button-toggle
      [value]="currency"
      *ngFor="let currency of allCurrencies"
      >{{ currency }}</mat-button-toggle
    >
  </mat-button-toggle-group>
  <mat-card-title>Your amount</mat-card-title>
  <mat-card-subtitle
    >Available money:
    {{
      user.amount | currency: convertCurrencyCodeToString(user.mainCurrency)
    }}</mat-card-subtitle
  >
  <mat-card-actions>
    <button mat-button (click)="openIncomeForm()">Add income</button>
    <button mat-button>Add expenses</button>
  </mat-card-actions>
</mat-card>
<app-categories-statistics></app-categories-statistics>
