<mat-card *ngIf="user.amount === 0 || user.amount; else loader" class="mb-3">
  <mat-card-title>
    Overall amount:
  </mat-card-title>
  <mat-card-content>
    <div class="mb-3">
      <ng-container *ngIf="!isAmountEditMode; else editMode">
        <mat-chip (click)="toggleAmountEditMode()" color="accent" selected>
          {{ user.amount | currency: userService.convertCurrencyCodeToString(
          user.mainCurrency) }}
        </mat-chip>
      </ng-container>
      <ng-template #editMode>
        <form
          (ngSubmit)="onSubmitAmountUpdate()"
          [formGroup]="amountForm"
        >
          <mat-form-field appearance="fill">
            <input
              formControlName="amount"
              matInput
                            placeholder="amount"
                            currencyMask
                            [options]="{
                                prefix: userService.convertCurrencyCodeToString(user.mainCurrency),
                                thousands: ',',
                                decimal: '.'
                            }"
                        />
                        <mat-error *ngIf="amountCtrl.touched && amountCtrl.invalid">
                            Invalid amount
                        </mat-error>
                        <button
                            matSuffix
                            mat-icon-button
                            type="submit"
                            color="primary">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                        <button
                            matSuffix
                            type="button"
                            mat-icon-button (click)="toggleAmountEditMode()"
                            color="warn">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </ng-template>
        </div>
        <div *ngIf="user?.currencyBalances?.length">
            Your money in different currencies:
            <mat-chip-list aria-label="Color selection">
                <mat-chip *ngFor="let currencyBalance of user.currencyBalances"
                          selected
                          color="primary"
                          class="w-auto"
                >
                  {{ currencyBalance.amount | currency: userService.convertCurrencyCodeToString(
                  currencyBalance.currency) }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
  <mat-card-actions>
    <button (click)="openIncomeForm()" mat-button>Add income</button>
    <button (click)="openSpendingForm()" mat-button>Add expenses</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mb-3">
  <mat-card-title>
    Filter by dates
  </mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input [(ngModel)]="startDate" matStartDate placeholder="Start date">
        <input [(ngModel)]="endDate" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="rangePicker" matIconSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button (click)="filterByDate()" color="primary" mat-raised-button
                  matDateRangePickerApply>Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<app-spendings-chart [categories]="categories"></app-spendings-chart>
<ng-template #loader>
    <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
