<mat-card class="mb-3">
    <mat-card-title>
        Overall amount:
    </mat-card-title>
    <mat-card-content>
        <div class="mb-3">
            <ng-container *ngIf="!isAmountEditMode; else editMode">
                <mat-chip selected color="accent" (click)="toggleAmountEditMode()">
                    {{ user.amount | currency: userService.convertCurrencyCodeToString(
                    user.mainCurrency) }}
                </mat-chip>
            </ng-container>
            <ng-template #editMode>
                <form [formGroup]="amountForm" (ngSubmit)="onSubmitAmountUpdate()">
                    <mat-form-field appearance="fill">
                        <input
                            formControlName="amount"
                            matInput
                            placeholder="amount"
                            currencyMask
                            [options]="{
                            prefix: userService.convertCurrencyCodeToString(user.mainCurrency),
                            thousands: ',',
                            decimal: '.'
                        }"
                        />
                        <mat-error *ngIf="amountCtrl.touched && amountCtrl.invalid">
                            Invalid amount
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button
                            mat-button
                            type="submit"
                            color="primary">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                        <button type="button"
                                mat-button (click)="toggleAmountEditMode()"
                                color="warn">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </form>
            </ng-template>
        </div>
        <div *ngIf="user.currencyBalances?.length">
            Your money in different currencies:
            <mat-chip-list aria-label="Color selection">
                <mat-chip *ngFor="let currencyBalance of user.currencyBalances"
                          selected
                          color="primary"
                          class="w-auto"
                >
                    {{ currencyBalance.amount | currency: userService.convertCurrencyCodeToString(
                    currencyBalance.currency) }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openIncomeForm()">Add income</button>
        <button mat-button (click)="openSpendingForm()">Add expenses</button>
    </mat-card-actions>
</mat-card>
<app-spendings-chart [categories]="categories"></app-spendings-chart>
