<h1 mat-dialog-title>Add income</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #form="ngForm" ngNativeValidate>
    <mat-error class="mb-3" *ngIf="spendingResponse?.errors?.length">
      Validation errors occurred:
      <li *ngFor="let validationError of spendingResponse.errors">
        {{ validationError }}
      </li>
    </mat-error>
    <div class="row mb-3">
      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="spendingRequest.amount"
          name="amount"
          id="amount"
          required
          min="0.01"
          max="1000000000"
          step="0.01"
          #amountField="ngModel"
          placeholder="Amount"
        />
        <mat-error [hidden]="amountField.valid || amountField.untouched">
          Please, specify a valid amount
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select
          [(ngModel)]="spendingRequest.currency"
          name="currencyCode"
          required
          #currencyField="ngModel"
        >
          <mat-option
            *ngFor="let currency of currencies"
            [value]="userService.convertStringCurrencyToCurrencyCode(currency)"
            >{{ currency }}</mat-option
          >
        </mat-select>
        <mat-error [hidden]="currencyField.valid"> Choose currency </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="mb-3" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="spendingRequest.spendingCategoryId"
        name="spendingCategoryId"
        required
        #categoryField="ngModel"
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">{{
          category.categoryName
        }}</mat-option>
      </mat-select>
      <mat-error [hidden]="categoryField.valid"> Choose category </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width mb-3" appearance="fill">
      <mat-label>Comment</mat-label>
      <textarea
        [(ngModel)]="spendingRequest.comment"
        name="comment"
        id="comment"
        matInput
        maxlength="300"
        #commentField="ngModel"
      ></textarea>
      <mat-error [hidden]="commentField.valid || commentField.untouched">
        Please, specify a valid comment
      </mat-error>
    </mat-form-field>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-4">
        <button type="submit" mat-raised-button color="primary">Add</button>
      </div>
    </div>
  </form>
</div>
