<div class="row justify-content-center">
  <form
    (ngSubmit)="onSubmit()"
    class="form col-md-4"
    #form="ngForm"
    ngNativeValidate
  >
    <mat-error class="mb-3" [hidden]="!hasErrors">
      Errors occurred:
      <ul>
        <li *ngFor="let httpError of errorMessages">
          {{ httpError }}
        </li>
      </ul>
    </mat-error>
    <mat-error class="mb-3" [hidden]="!loginResponse.errors?.length">
      Validation errors occurred:
      <li *ngFor="let validationError of loginResponse.errors">
        {{ validationError }}
      </li>
    </mat-error>
    <mat-form-field class="full-width mb-3" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="loginRequest.login"
        name="login"
        id="login"
        required
        #loginField="ngModel"
        placeholder="Username"
      />
      <mat-error [hidden]="loginField.valid || loginField.untouched">
        Please, specify a valid username
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width mb-3" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        [(ngModel)]="loginRequest.password"
        name="password"
        id="password"
        matInput
        required
        #passwordField="ngModel"
      />
      <mat-error [hidden]="passwordField.valid || passwordField.untouched">
        Please, specify a valid password
      </mat-error>
    </mat-form-field>
    <div class="mb-3">
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="loginRequest.rememberMe"
        name="rememberMe"
        id="remember"
      >
        Remember me
      </mat-checkbox>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-4">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </form>
</div>
