<h1 mat-dialog-title>Add income</h1>
<div mat-dialog-content>
  <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
    <mat-error class="mb-3" *ngIf="incomeCreateResponse?.errors?.length">
      Validation errors occurred:
      <ul>
        <li *ngFor="let validationError of incomeCreateResponse.errors">
          {{ validationError }}
        </li>
      </ul>
    </mat-error>
    <div class="row mb-3">
      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Amount</mat-label>
        <input
          matInput
          formControlName="amount"
          id="amount"
          placeholder="Amount"
          currencyMask
          [options]="{
          prefix: userService.convertCurrencyCodeToCurrencySymbol(currencyControl.value),
          thousands: ',',
          decimal: '.'
          }"
        />
        <mat-error
          *ngIf="amountControl.invalid && amountControl.touched && amountControl.errors?.['required']"
        >
          Please, specify a valid amount
        </mat-error>
        <mat-error
          *ngIf="amountControl.invalid && amountControl.touched && amountControl.errors?.['min']"
        >
          Amount should be positive
        </mat-error>
        <mat-error
          *ngIf="amountControl.invalid && amountControl.touched && amountControl.errors?.['max']"
        >
          Amount should be less than 1000000000
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option
            *ngFor="let currency of currencies"
            [value]="userService.convertStringCurrencyToCurrencyCode(currency)"
            >{{ currency }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="currencyControl.invalid && currencyControl.touched">
          Choose currency
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="full-width mb-3" appearance="fill">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" id="comment" matInput></textarea>
      <mat-error *ngIf="commentControl.invalid && commentControl.touched">
        Comment should be shorter than 300 symbols
      </mat-error>
    </mat-form-field>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-4">
        <button type="submit" mat-raised-button color="primary">Add</button>
      </div>
    </div>
  </form>
</div>
